@import url('https://fonts.googleapis.com/css2?family=Piazzolla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap');
@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

/* Sample CSS for the WHY word */

.whyWLetter {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;
  background-color: rgb(255, 223, 127);
}

.whyHLetter {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
  background-color: rgb(197, 127, 255);
}

.whyYLetter {
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
  background-color: rgb(176, 255, 127);
}

/* DID word */

.didDLetter {
  font-family: "Space Grotesk", sans-serif;
  font-weight: normal;
  color: rgb(214, 139, 104);
  text-decoration: underline;
  font-size: 45px;
  font-style: italic;
  background-color: aquamarine;
}

.didILetter {
  font-family: "Monsieur La Doulaise", cursive;
  font-weight: bold;
  color: orange;
  font-variant: small-caps;
  font-size: 100px;
  background-color: rgb(204, 127, 255);
}

.didDTwoLetter {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: xx-large;
  font-weight: 700;
  color: #ee06c372;
  text-decoration: line-through;
  text-transform: capitalize;
  font-size: large;
  background-color: rgb(197, 255, 127);
}

/* THE word */

.theTLetter {
  font-family: "UnifrakturMaguntia", cursive;
  font-weight: 400;
  color: rgb(35, 250, 250);
  text-decoration: overline;
  text-transform: capitalize;
  font-size: 90px;
  background-color: rgb(223, 127, 255);
}

.theHLetter {
  font-family: fantasy;
  font-size: 90px;
  font-weight: 700;
  color: rgb(250, 250, 35);
  text-decoration: none;
  text-transform: capitalize;
  background-color: rgb(255, 144, 127);
}

.theELetter {
  color: red;
  font-size: 58px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: line-through;
  font-style: italic;
  background-color: rgb(168, 255, 127);
}

/* FRONT-END word */

.frontendFLetter {
  color: greenyellow;
  font-size: 90px;
  font-family: Impact, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration: underline;
  font-style: italic;
  background-color: ghostwhite;
}

.frontendRLetter {
  color: yellow;
  font-size: 58px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: line-through;
  font-style: italic;
  background-color: rgb(129, 99, 62);
}

.frontendOLetter {
  font-size: 70px;
  font-weight: 100;
  color: plum;
  text-decoration: overline;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;
  background-color: rgb(19, 58, 93);
}

.frontendNLetter {
  font-family: fantasy;
  font-size: 90px;
  font-weight: 700;
  color: gold;
  text-decoration: none;
  text-transform: capitalize;
  font-style: oblique;
  background-color: orange;
}


.frontendTLetter {
  font-size: 70px;
  font-weight: 100;
  color: silver;
  text-decoration: overline;
  text-transform: uppercase;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: orchid;
}

.frontendELetter {
  font-family: 'Times New Roman', Times, serif;
  font-size: 90px;
  font-weight: 700;
  color: rgb(250, 250, 35);
  text-decoration: underline;
  text-transform: lowercase;
  background-color: black;
}

.frontendNTwoLetter {
  font-family: "UnifrakturMaguntia", cursive;
  font-weight: 700;
  color: rgb(135, 35, 250);
  text-decoration: line-through;
  text-transform: lowercase;
  font-size: 72px;
  background-color: black;
}

.frontendDLetter {
  font-family: "UnifrakturMaguntia", cursive;
  font-weight: 400;
  color: rgb(29, 107, 18);
  text-decoration: underline;
  text-transform: lowercase;
  font-size: 130px;
  background-color: silver;
}

/* DEVELOPER word */

.developerDLetter {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 33px;
  font-weight: bolder;
  color: gold;
  text-decoration: dotted;
  text-transform: capitalize;
  font-style: italic;
  background-color: navy;
}
.developerELetter {
  color: rgb(102, 255, 47);
  font-size: 110px;
  font-family: "UnifrakturMaguntia", cursive;
  text-decoration: overline;
  font-style: italic;
  background-color: navajowhite;
}
.developerVLetter {
  font-family: fantasy;
  font-size: 52px;
  font-weight: 300;
  color: rgb(35, 250, 142);
  text-decoration: dotted;
  text-transform: lowercase;
  background-color: goldenrod;
}
.developerETwoLetter {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 33px;
  font-weight: bolder;
  color: gold;
  text-decoration: dotted;
  text-transform: capitalize;
  font-style: bold;
  background-color: aquamarine;
}
.developerLLetter {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: xx-large;
  font-weight: 700;
  color: #06b8ee72;
  text-decoration: line-through;
  text-transform: capitalize;
  font-size: large;
  background-color: olivedrab;
}
.developerOLetter {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 33px;
  font-weight: bolder;
  color: rgb(255, 0, 234);
  text-decoration: dotted;
  text-transform: capitalize;
  font-style: italic;
  background-color: rgb(4, 3, 4);
}
.developerPLetter {
  font-family: fantasy;
  font-size: 52px;
  font-weight: 300;
  color: rgb(250, 35, 250);
  text-decoration: dotted;
  text-transform: lowercase;
  background-color: rgb(117, 70, 30);
}

.developerEThreeLetter {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 33px;
  font-weight: bolder;
  color: gold;
  text-decoration: dotted;
  text-transform: capitalize;
  font-style: italic;
  background-color: rgb(24, 22, 13);

}
.developerRLetter {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 33px;
  font-weight: bolder;
  color: rgb(255, 0, 234);
  text-decoration: dotted;
  text-transform: capitalize;
  font-style: italic;
  background-color: black;
}

/* TAKE word */

.takeTLetter {
  font-size: 40px;
  font-weight: 250;
  color: rgb(201, 221, 160);
  text-decoration: overline;
  text-transform: uppercase;
  font-family: "UnifrakturMaguntia", cursive;
  background-color: blue;
}
.takeALetter {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 33px;
  font-weight: bolder;
  color: rgb(255, 0, 234);
  text-decoration: dotted;
  text-transform: capitalize;
  font-style: italic;
  background-color: blueviolet;

}
.takeKLetter {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 33px;
  font-weight: bolder;
  color: rgb(255, 0, 234);
  text-decoration: dotted;
  text-transform: capitalize;
  font-style: italic;
  background-color: darkorange;
}
.takeELetter {
  font-family: fantasy;
  font-size: 52px;
  font-weight: 300;
  color: rgb(250, 35, 250);
  text-decoration: dotted;
  text-transform: lowercase;
  background-color: mediumslateblue;
}

/* UP word */

.upULetter {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 33px;
  font-weight: bolder;
  color: rgb(43, 255, 0);
  text-decoration: dotted;
  text-transform: capitalize;
  font-style: italic;
  background-color: rgb(10, 14, 12);
}
.upPLetter {
  font-family: fantasy;
  font-size: 52px;
  font-weight: 300;
  color: rgb(250, 35, 250);
  text-decoration: dotted;
  text-transform: lowercase;
  background-color: rgb(255, 144, 127);
}

/* GARDENING word */

.gardeningGLetter {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 33px;
  font-weight: bolder;
  color: rgb(43, 255, 0);
  text-decoration: dotted;
  text-transform: capitalize;
  font-style: italic;
  background-color: violet;
}
.gardeningALetter {
  font-family: 'Times New Roman', Times, serif;
  font-size: 33px;
  font-weight: bolder;
  color: rgb(43, 255, 0);
  text-decoration: dotted;
  text-transform: capitalize;
  font-style: italic;
  background-color: rgb(2, 5, 1);
}
.gardeningRLetter {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 140px;
  font-weight: 0;
  color: gold;
  text-decoration: dotted;
  text-transform: capitalize;
  font-style: italic;
  background-color:indianred;
}

.gardeningDLetter {
  font-size: 40px;
  font-weight: 250;
  color: rgb(201, 221, 160);
  text-decoration: overline;
  text-transform: uppercase;
  font-family: "UnifrakturMaguntia", cursive;
  background-color: maroon;
}
.gardeningELetter {
  font-family: fantasy;
  font-size: 90px;
  font-weight: 700;
  color: rgb(123, 0, 255);
  text-decoration: none;
  text-transform: capitalize;
  font-style: oblique;
  background-color: lightskyblue;
}
.gardeningNLetter {
  font-family: fantasy;
  font-size: 90px;
  font-weight: 700;
  color: rgb(255, 17, 0);
  text-decoration: none;
  text-transform: capitalize;
  font-style: oblique;
  background-color: rgb(35, 250, 250);
}
.gardeningILetter {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 33px;
  font-weight: bolder;
  color: rgb(255, 42, 0);
  text-decoration: dotted;
  text-transform: capitalize;
  font-style: italic;
  background-color: whitesmoke;
}
.gardeningNTwoLetter {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 33px;
  font-weight: bolder;
  color: rgb(51, 0, 255);
  text-decoration: dotted;
  text-transform: capitalize;
  font-style: italic;
  background-color: black;
}
.gardeningGTwoLetter {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 140px;
  font-weight: 0;
  color: rgb(0, 94, 255);
  text-decoration: dotted;
  text-transform: capitalize;
  font-style: italic;
  background-color: blueviolet;
}

/* BECAUSE word */

.becauseBLetter {
  font-size: 40px;
  font-weight: 250;
  color: rgb(201, 221, 160);
  text-decoration: overline;
  text-transform: uppercase;
  font-family: "UnifrakturMaguntia", cursive;
}
.becauseELetter {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 33px;
  font-weight: bolder;
  color: rgb(255, 0, 234);
  text-decoration: dotted;
  text-transform: capitalize;
  font-style: italic;
}
.becauseCLetter {
  font-family: "UnifrakturMaguntia", cursive;
  font-size: 180px;
  font-weight: bolder;
  color: rgb(255, 0, 123);
  text-decoration: dotted;
  text-transform: lowercase;
  font-style: oblique;
}
.becauseALetter {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 33px;
  font-weight: bolder;
  color: rgb(255, 0, 234);
  text-decoration: dotted;
  text-transform: capitalize;
  font-style: italic;
}
.becauseULetter {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 33px;
  font-weight: bolder;
  color: rgb(255, 42, 0);
  text-decoration: dotted;
  text-transform: capitalize;
  font-style: italic;
  background-color: black;

}
.becauseSLetter {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 33px;
  font-weight: bolder;
  color: rgba(200, 38, 6, 0.55);
  text-decoration: dotted;
  text-transform: capitalize;
  font-style: italic;
  background-color: aqua;
}
.becauseETwoLetter {
  font-family: fantasy;
  font-size: 52px;
  font-weight: 300;
  color: rgb(250, 35, 250);
  text-decoration: dotted;
  text-transform: lowercase;
  background-color: dimgray;
}

/* THEY word */

.theyTLetter {
  font-family: fantasy;
  font-size: 52px;
  font-weight: 300;
  color: rgb(35, 11, 35);
  text-decoration: dotted;
  text-transform: lowercase;
  background-color: cornsilk;
}
.theyHLetter {
  font-family: fantasy;
  font-size: 90px;
  font-weight: 700;
  color: rgb(0, 255, 51);
  text-decoration: none;
  text-transform: capitalize;
  font-style: oblique;
  background-color: rgb(57, 17, 89);
}
.theyELetter {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 140px;
  font-weight: 0;
  color: gold;
  text-decoration: dotted;
  text-transform: capitalize;
  font-style: italic;
  background-color: black;
}
.theyYLetter {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 140px;
  font-weight: 0;
  color: rgb(0, 255, 89);
  text-decoration: dotted;
  text-transform: capitalize;
  font-style: italic;
  background-color: rgb(3, 103, 103);
  background-color: black;
}

/* WANTED word */

.wantedWLetter {
  font-family: fantasy;
  font-size: 90px;
  font-weight: 700;
  color: rgb(123, 0, 255);
  text-decoration: none;
  text-transform: capitalize;
  font-style: oblique;
  background-color: black;
}
.wantedALetter {
  font-size: 40px;
  font-weight: 250;
  color: rgb(201, 221, 160);
  text-decoration: overline;
  text-transform: uppercase;
  font-family: "UnifrakturMaguntia", cursive;
  background-color: black;
}
.wantedNLetter {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 33px;
  font-weight: bolder;
  color: rgb(255, 42, 0);
  text-decoration: dotted;
  text-transform: capitalize;
  font-style: italic;
  background-color: black;

}
.wantedTLetter {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 33px;
  font-weight: bolder;
  color: rgb(89, 255, 0);
  text-decoration: dotted;
  text-transform: capitalize;
  font-style: italic;
  background-color: black;
}
.wantedELetter {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 140px;
  font-weight: 0;
  color: rgb(0, 94, 255);
  text-decoration: dotted;
  text-transform: capitalize;
  font-style: italic;
  background-color: red;
}
.wantedDLetter {
  font-size: 40px;
  font-weight: 250;
  color: rgb(201, 221, 160);
  text-decoration: overline;
  text-transform: uppercase;
  font-family: "UnifrakturMaguntia", cursive;
  background-color: rebeccapurple;
}

/* TO word */

.toTLetter {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 140px;
  font-weight: 0;
  color: rgb(42, 57, 22);
  text-decoration: dotted;
  text-transform: capitalize;
  font-style: italic;
  background-color: white;
}
.toOLetter {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 33px;
  font-weight: bolder;
  color: rgb(255, 42, 0);
  text-decoration: dotted;
  text-transform: capitalize;
  font-style: italic;
  background-color: black;
}

/* IMPROVE word */

.improveILetter {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 33px;
  font-weight: bolder;
  color: rgb(255, 0, 234);
  text-decoration: dotted;
  text-transform: capitalize;
  font-style: italic;
  background-color: black;
}
.improveMLetter {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 33px;
  font-weight: bolder;
  color: rgb(255, 42, 0);
  text-decoration: dotted;
  text-transform: capitalize;
  font-style: italic;
  background-color: black;

}
.improvePLetter {
  font-family: "UnifrakturMaguntia", cursive;
  font-weight: 700;
  color: rgb(60, 250, 35);
  text-decoration: line-through;
  text-transform: lowercase;
  font-size: 72px;
  background-color: black;
}
.improveRLetter {
  font-family:fantasy;
  font-size: 140px;
  font-weight: 0;
  color: rgb(0, 94, 255);
  text-decoration: dotted;
  text-transform: capitalize;
  font-style: italic;
  background-color: white;
}
.improveOLetter {
  font-family: "UnifrakturMaguntia", cursive;
  font-weight: 700;
  color: rgb(60, 250, 35);
  text-decoration: line-through;
  text-transform: lowercase;
  font-size: 72px;
  background-color: black;
}
.improveVLetter {
  font-size: 40px;
  font-weight: 250;
  color: rgb(201, 221, 160);
  text-decoration: overline;
  text-transform: uppercase;
  font-family: "UnifrakturMaguntia", cursive;
  background-color: black;
}
.improveELetter {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 140px;
  font-weight: 0;
  color: rgb(0, 94, 255);
  text-decoration: dotted;
  text-transform: capitalize;
  font-style: italic;
  background-color: wheat;
}

/* THEIR word */

.theirTLetter {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 140px;
  font-weight: 0;
  color: rgb(174, 255, 0);
  text-decoration: dotted;
  text-transform: capitalize;
  font-style: italic;
  background-color: black;
}
.theirHLetter {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 33px;
  font-weight: bolder;
  color: rgba(200, 38, 6, 0.55);
  text-decoration: dotted;
  text-transform: capitalize;
  font-style: italic;
  background-color: aqua;
}
.theirELetter {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 140px;
  font-weight: 0;
  color: rgb(174, 255, 0);
  text-decoration: dotted;
  text-transform: capitalize;
  font-style: italic;
  background-color: black;
}
.theirILetter {
  font-family:fantasy;
  font-size: 140px;
  font-weight: 0;
  color: rgb(0, 94, 255);
  text-decoration: dotted;
  text-transform: capitalize;
  font-style: italic;
  background-color: white;

}
.theirRLetter {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 140px;
  font-weight: 0;
  color: rgb(174, 255, 0);
  text-decoration: dotted;
  text-transform: capitalize;
  font-style: italic;
  background-color: black;
}

/* ROOT word */

.rootRLetter {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 33px;
  font-weight: bolder;
  color: rgba(200, 38, 6, 0.55);
  text-decoration: dotted;
  text-transform: capitalize;
  font-style: italic;
  background-color: aqua;
}
.rootOLetter {
  font-size: 40px;
  font-weight: 250;
  color: rgb(201, 221, 160);
  text-decoration: overline;
  text-transform: uppercase;
  font-family: "UnifrakturMaguntia", cursive;
  background-color: black;
}
.rootOTwoLetter {
  font-family: fantasy;
  font-size: 52px;
  font-weight: 300;
  color: rgb(35, 11, 35);
  text-decoration: dotted;
  text-transform: lowercase;
  background-color: cornsilk;
}
.rootTLetter {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 140px;
  font-weight: 0;
  color: rgb(34, 255, 0);
  text-decoration: dotted;
  text-transform: capitalize;
  font-style: italic;
  background-color: brown;
}

/* SKILLS word */

.skillsSLetter {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 140px;
  font-weight: 0;
  color: rgb(0, 94, 255);
  text-decoration: dotted;
  text-transform: capitalize;
  font-style: italic;
  background-color: whitesmoke;
}
.skillsKLetter {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 140px;
  font-weight: 0;
  color: rgb(166, 0, 255);
  text-decoration: dotted;
  text-transform: capitalize;
  font-style: italic;
  background-color: black;
}
.skillsILetter {
  font-family: fantasy;
  font-size: 52px;
  font-weight: 300;
  color: rgb(35, 11, 35);
  text-decoration: dotted;
  text-transform: lowercase;
  background-color: cornsilk;
}
.skillsLLetter {
  font-size: 40px;
  font-weight: 250;
  color: rgb(201, 221, 160);
  text-decoration: overline;
  text-transform: uppercase;
  font-family: "UnifrakturMaguntia", cursive;
  background-color: black;
}
.skillsLTwoLetter {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 140px;
  font-weight: 0;
  color: rgb(42, 57, 22);
  text-decoration: dotted;
  text-transform: capitalize;
  font-style: italic;
  background-color: whitesmoke;
}
.skillsSTwoLetter {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 33px;
  font-weight: bolder;
  color: rgba(200, 38, 6, 0.55);
  text-decoration: dotted;
  text-transform: capitalize;
  font-style: italic;
  background-color: aqua;
}

/* SYMBOLS */

.hyphen {
  font-family: "UnifrakturMaguntia", cursive;
  font-weight: 700;
  color: rgb(250, 35, 132);
  text-decoration: line-through;
  text-transform: lowercase;
  font-size: 72px;
  background-color: black;
}
.exclamation-mark {
  font-family: "UnifrakturMaguntia", cursive;
  font-weight: 700;
  color: rgb(35, 210, 250);
  text-decoration: line-through;
  text-transform: lowercase;
  font-size: 72px;
  background-color: black;
}
.question-mark {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 33px;
  font-weight: bolder;
  color: rgba(200, 38, 6, 0.55);
  text-decoration: dotted;
  text-transform: capitalize;
  font-style: italic;
  background-color: aqua;
}